@model ViewModel.AdminManagerVMs.ManageVM
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Area Reservada";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";

    var serializer = new JavaScriptSerializer();
    var funcionariosCountByCargoJson = serializer.Serialize(Model.FuncionariosCountByCargoJson);
}
<center>
    <h2>Dashboard</h2>
    <hr />
</center>
<div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-users"></i>
                </span>
                <div class="text-box">
                    <p class="main-text">@Model.UsuarioCount</p>
                    <p class="text-muted">Usuários</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-compress"></i>
                </span>
                <div class="text-box">
                    <p class="main-text">@Model.PermutaCount</p>
                <p class="text-muted">Permutas</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-blue set-icon">
                <i class="fa fa-newspaper-o"></i>
            </span>
            <div class="text-box">
                <p class="main-text">@Model.EventoCount</p>
                <p class="text-muted">Notícias</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-brown set-icon">
                <i class="fa fa-life-saver"></i>
            </span>
            <div class="text-box">
                <p class="main-text">@Model.PerguntaFrequenteCount</p>
                <p class="text-muted">FAQs</p>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Funcionários X Cargo
                </div>
                <div class="panel-body">
                    <div id="funcionarioxcargo-donut-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Acessos recente
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Cargo</th>
                                <th>Atividade</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model.Usuarios)
                        {
                                <tr>
                                    <td>
                                        <smal>@usuario.Nome</smal>
                                    </td>
                                    <td>
                                        <small>
                                            @usuario.Email
                                        </small>
                                    </td>
                                    <td>
                                        <small>
                                            @usuario.Cargo
                                        </small>
                                    </td>
                                    <td>
                                        <small>
                                            @(usuario.DtAtividade?.ToString("dd/MM/yyyy HH:mm"))
                                        </small>
                                    </td>
                                </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        Morris.Donut({
            element: 'funcionarioxcargo-donut-chart',
            data: @Html.Raw(funcionariosCountByCargoJson),
            resize: true
        });
    })
</script>