@model PagedList.IPagedList<ViewModel.EventoVMs.EventoListVM>
@using ViewModel.Filters
@using PagedList.Mvc

@{
    ViewBag.Title = "Eventos";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";

    EventoListFilter filter = ViewBag.Filter ?? new EventoListFilter();
}
<center>
    <h2 class="col-md-11">Eventos</h2>
    <a href="~/Admin/Evento/Create" title="Criar novo Evento">
        <i class="fa fa-plus fa-3x pull-right m-t-2 pointer"></i>
    </a>
</center>
<div class="clearfix"></div>
<hr />
@Html.ShowAlert()

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Tipo
            </th>
            <th>
                Data
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr class="pointer action-link" link="~/Admin/Evento/Edit/@item.Id">
            <td data-toggle="tooltip" title="Resumo: @item.Resumo">
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEventoDescricao)
            </td>
            <td>
                @item.DtEvento.ToString("dd/MM/yyyy HH:mm")
            </td>
        </tr>
    }

</table>
<div class="clearfix"></div>
<div class="pull-right bold">
    <strong>Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</strong>
</div>
<div class="center-div-h">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { Page = page, Filtro = filter.Filtro, TipoEvento = filter.TipoEvento, De = filter.De, Ate = filter.Ate }))
</div>