@model IEnumerable<ViewModel.PerguntaFrequenteVMs.PerguntaFrequenteVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
<center>
    <h2 class="col-md-11">Perguntas e Respostas Frequêntes</h2>
    <a href="~/Admin/PerguntaFrequente/Create" title="Criar nova FAQ">
        <i class="fa fa-plus fa-3x pull-right m-t-2 pointer"></i>
    </a>
</center>
<div class="clearfix"></div>
<hr />
@Html.ShowAlert()

<div class="list-group">
    @foreach (var pergunta in Model)
    {
        <a href="~/Admin/PerguntaFrequente/Edit/@pergunta.Id" class="list-group-item" title="Editar">
            <span class="badge">@pergunta.Id</span>
            <h4 class="bold">
                @pergunta.Pergunta
            </h4>
            <span>@Html.Raw(pergunta.Resposta)</span>
            <div>
                <small>
                    <span class="bold">Tags: </span>
                    @pergunta.Tags
                </small>
            </div>
        </a>
    }
</div>
